@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');
@import './reset.css';

/** Reset & Defines **/
:root {
    --tonic: #0065FC;
    --tonic-hovered: #DEEBFF;
    --gray: #F2F2F2;
    --gray-border: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
button {
    background-color: inherit;
    border: none;
}

h1 {
    font-size: 1.375em;
}
h2 {
    font-size: 1.125em;
}

/** Design **/

body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 16px;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 3.4375em;
    min-height: 100vh;
}

header {
    display: flex;
    height: auto;
    justify-content: space-between;
}
header a.return-to-home {
    margin: 2.75em 0;
}
header a.return-to-home figure {
    height: 1.1875em;
}

nav {
    display: flex;
    height: 100%;
}
nav ul {
    display: flex;
    height: 100%;
}
nav ul li {
    display: flex;
    height: 100%;
}
nav ul li a {
    position: relative;
    display: flex;
    padding: 0 2em;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;
}
nav ul li a:hover {
    color: var(--tonic);
}
nav ul li a:hover::after {
    opacity: 1;
}
nav ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.125em;
    opacity: 0;
    background-color: var(--tonic);
}

section {
    display: flex;
    width: 100%;
    margin: 1.5em 0;
}
section.col {
    flex-direction: column;
}
/** Section: Search **/
section.search p {
    margin-top: .5em;
}
section.search form {
    display: flex;
    margin-top: 1.25em;
}
section.search form .form-group {
    display: flex;
    width: auto;
    border-radius: 1em;
    overflow: hidden;
}
section.search form .form-group label {
    background-color: var(--gray);
}
section.search form .form-group input {
    border: none;
    border-top: solid 1px var(--gray);
    border-bottom: solid 1px var(--gray);
    outline: none;
    padding: 0 1em;
    font-size: 1em;
}
section.search form .form-group input::placeholder {
    color: black;
    font-weight: 700;
}
section.search form .form-group label figure {
    width: 1em;
    height: 1em;
    margin: 0.875em;
}
section.search form .form-group button {
    padding: 0 1em;
    background-color: var(--tonic);
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
}
/** Section: Filters **/
section.filters {
    display: flex;
    width: 100%;
    column-gap: 2em;
    align-items: center;
}
section.filters .filters-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5em;
    row-gap: 1em;
}
section.filters .filters-container .filter {
    border-radius: 9999px;
    border: solid 2px var(--gray-border);
}
section.filters .filters-container .filter label {
    display: flex;
    padding: 0.8125em 1.25em;
    cursor: pointer;
    column-gap: 0.625em;
    align-items: center;
    font-weight: 700;
}
section.filters .filters-container .filter label figure {
    height: 1.375em;
}
section.filters .filters-container .filter input {
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
}
section.filters .filters-container .filter:hover {
    background-color: var(--tonic-hovered);
}
/**  **/
.informations {
    display: flex;
    align-items: center;
    column-gap: .5em;
    font-size: 1em;
}
.informations figure {
    display: flex;
    padding: .5em;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--gray);
    width: 0.8em;
    height: 0.8em;
}